<h1>生産者の人達</h1>
<%= image_tag @user.img_url %><br>
<%= @user.name %><br>
<%= Area.find(@user.area_id).area_name %><br>
<% if current_user %>
  <% if current_user.id == @user.id %>
    <%= link_to "編集", edit_user_registration_path%>
  <% end %>
<% end %>
