<% @products.each do |puroduct| %>

    <div class="col-md-3 col-sm-6 red">
      <div class="form-group">
        <%= image_tag product.img_url %><br>
        <%= Area.find(product.area_id).area_name %><br>
        <%= link_to product.name, user %>
      </div>
    </div>

<% end %>
