
<% @products.each do |product| %>




    <div class="col-md-3 col-sm-6 red">
      <div class="form-group">
        <%= image_tag product.image_url %><br>
        <%= link_to product.user.name,user_path(product.user) %><br>
        <%= link_to product.name, product %>
      </div>
    </div>

<% end %>
